@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-hairline.eot');
  src: url('../fonts/montserrat/montserrat-hairline.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-hairline.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-hairline.woff') format('woff'),
       url('../fonts/montserrat/montserrat-hairline.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-hairline.svg#montserrathairline') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-ultralight.eot');
  src: url('../fonts/montserrat/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-ultralight.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-ultralight.woff') format('woff'),
       url('../fonts/montserrat/montserrat-ultralight.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-ultralight.svg#montserratultra_light') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-light.eot');
  src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-light.woff') format('woff'),
       url('../fonts/montserrat/montserrat-light.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-light.svg#montserratlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-regular.eot');
  src: url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
       url('../fonts/montserrat/montserrat-regular.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-regular.svg#montserratregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-semibold.eot');
  src: url('../fonts/montserrat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-semibold.woff') format('woff'),
       url('../fonts/montserrat/montserrat-semibold.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-semibold.svg#montserratsemi_bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-bold.eot');
  src: url('../fonts/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-bold.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-bold.woff') format('woff'),
       url('../fonts/montserrat/montserrat-bold.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-bold.svg#montserratbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-extrabold.eot');
  src: url('../fonts/montserrat/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-extrabold.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-extrabold.woff') format('woff'),
       url('../fonts/montserrat/montserrat-extrabold.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-extrabold.svg#montserratextra_bold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-black.eot');
  src: url('../fonts/montserrat/montserrat-black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-black.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-black.woff') format('woff'),
       url('../fonts/montserrat/montserrat-black.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-black.svg#montserratblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
